.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-GNC {
  font-size:(145.726/10)*1rem;
  width:(540.121/145.726)*1em;
}
.icon-arrow-back {
  font-size:(100/10)*1rem;
  width:(100/100)*1em;
}
.icon-arrow-down {
  font-size:(100/10)*1rem;
  width:(100/100)*1em;
}
.icon-arrow-forward {
  font-size:(100/10)*1rem;
  width:(100/100)*1em;
}
.icon-arrow-forward-white {
  font-size:(416/10)*1rem;
  width:(271/416)*1em;
}
.icon-btn-close {
  font-size:(100/10)*1rem;
  width:(100/100)*1em;
}
.icon-btn-close-white {
  font-size:(19/10)*1rem;
  width:(19/19)*1em;
}
.icon-carousel {
  font-size:(28.35/10)*1rem;
  width:(28.35/28.35)*1em;
}
.icon-carouselActive {
  font-size:(28.35/10)*1rem;
  width:(28.35/28.35)*1em;
}
.icon-deleteCross {
  font-size:(9/10)*1rem;
  width:(9/9)*1em;
}
.icon-facebook {
  font-size:(28.35/10)*1rem;
  width:(28.35/28.35)*1em;
}
.icon-flavour {
  font-size:(28.35/10)*1rem;
  width:(28.35/28.35)*1em;
}
.icon-flavour_active {
  font-size:(28.35/10)*1rem;
  width:(28.35/28.35)*1em;
}
.icon-flavour_hover {
  font-size:(28.35/10)*1rem;
  width:(28.35/28.35)*1em;
}
.icon-icon-basket {
  font-size:(100/10)*1rem;
  width:(100/100)*1em;
}
.icon-icon-click {
  font-size:(100/10)*1rem;
  width:(100/100)*1em;
}
.icon-icon-email {
  font-size:(100/10)*1rem;
  width:(100/100)*1em;
}
.icon-icon-package {
  font-size:(100/10)*1rem;
  width:(100/100)*1em;
}
.icon-icon-pin {
  font-size:(100/10)*1rem;
  width:(100/100)*1em;
}
.icon-icon-pin-white {
  font-size:(100/10)*1rem;
  width:(100/100)*1em;
}
