@import "sprite";

@keyframes changeColor {
  0% {fill: red;}
  50% {fill: yellow;}
  100% {fill: red;}
}

/* The element to apply the animation to */
.icon-basket_icon {
  fill: red;
  animation: changeColor 4s infinite;
}