@import "sprite";
.icon {
  fill: currentColor;
}
body {
  color: #333;
}

div {
  color: yellowgreen;
}

span {
  vertical-align: middle;
}

.icon {
  vertical-align: middle;
}

.icon-GNC {
  color: red;
}

.icon-flavour .path2:before {
  margin-left: 0!important;
  color: red!important;
}